
/*different container then standard*/
.container-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    width: 100%;
    min-width: 500px;
    max-width: 95%;
    margin: auto;
    justify-content: center;
    grid-gap: 20px;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 10px;
}

/*responsible for both bontainers definitions*/
.midbackground {
    padding: 0.5px;
    border-radius: 1px;
} 

.R {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}



.imgcontainer {
    width: 100%;
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around; 

}



.ugaimg {
    border-radius: 1px;
    font-size: 10em;
    border: 10px solid rgba(255, 255, 255,0.7);
    transition: all 0.3s linear;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.ugaimg:hover {
    transform: scale(1.1);
}


