@charset "windows-1255";


/*styling the register link*/
.register {
	color: #FAC1DF;
}

.register:hover{
	color: #f7b5d8;
	
}
a .Link {
	font-weight: bolder;
	color: white;
	border-color: white;
	background-color: #FAC1DF;
}
