.navbar-dark 
{
	background-color: #546270; /*This changes the nav bar color*/
	min-height: 100px;
	width: 100%;
	font-size: larger; 
	color:White;
}

.nav-link {
	color: white !important;
	margin-left: 15px;
}

nav 
{
	width: 100%;
	margin:0px auto;
    left:0px;
	right:0px;
}

#basic-nav-dropdown::after {
	position: relative;
	top: 4px;
}

.navbar-brand {
	height: 80px;
	width: 80px;
	margin-left: 1rem;
}

.navbar-brand > img {
	height: 100%;
    width: 100%;
}